/*header*/

header{
    padding: 0px 12%;
    background-color:$blanco-color;
    display: flex;
    font-weight: 700;
    position:sticky;
    top: 0;
    z-index: 10;
    border-bottom: 3px solid transparent;
    border-image:$gradient-color;
    border-image-slice:1;
}

.navbar-expand-md .offcanvas{
    flex-grow:initial;
}

.nav-link{
    color:rgb(54, 54, 54) ;
    font-weight: 600;
}

.navbar-nav{
    .nav-link.active{
        font-weight: 600;
        @extend .tipograndiente;
    }
    :hover {
        @extend .tipograndiente;
        transition: 0,25s;
    }
}

.logo {
    width: 50px;
    object-fit: cover;
}

header nav{
    text-align:center;
    flex-grow: 1;
}

header nav ol li{
    text-align: center;
    list-style-type: none;
    display:inline-flex;
    padding:20px;
}

header nav ol li a {
    font-weight:600;
}

.navbar-toggler:focus{
    box-shadow: none;
}