//extend

.tipograndiente {
    background:$gradiente-texto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

//mixin sin parametros

//mixin con parametros

@mixin grid-p ($colum, $px) {
    display: grid;
    grid-template-columns: $colum ;
    grid-gap: $px;
}

