//extend

.tipograndiente {
    background:$gradiente-texto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.galeria-trabajos-para-hover{
    background: rgb(0,0,0);
            background: linear-gradient(8deg, rgba(0,0,0,1) 20%, rgba(0,212,255,0) 96%);
            width: 100%;
            height: 100%;
            color: white;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: end;
            transition: 0.5s;
            opacity: 0;
            padding: 4%;
            text-align:start;
}

.sombras{
    -webkit-box-shadow: 2px 3px 8px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.63);
    box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.63);
}

.sombras-g{
    -webkit-box-shadow: 4px 3px 8px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: 4px 3px 8px -1px rgba(0,0,0,0.63);
    box-shadow: 4px 3px 8px -1px rgba(0,0,0,0.63);
}

//mixin sin parametros


//mixin con parametros

@mixin grid-p ($colum, $px) {
    display: grid;
    grid-template-columns: $colum ;
    grid-gap: $px;
}

