//variables//
$celeste-color:#EFF8FA;
$blanco-color: #FDFEFE;
$gradient-color:linear-gradient( to bottom ,#3FA9F5, #7C00FF);
$gradiente-texto:-webkit-linear-gradient( #7C00FF, #3FA9F5);
$gradient-color-invertido:linear-gradient( to bottom ,#7C00FF, #3FA9F5);