/* teléfonos*/

@media (max-width:768px) {
    /*header*/

    .offcanvas{
        transition: 1s;
    }

    header {
        padding: 3% 5%;
        padding-bottom: 0px;
        display: block;
    }
    
    nav{
        text-align:center;
    }
    
    header nav ol li{
        padding:5px;
    }
    
    header nav ol{
        padding: 0px;
    }
    
    /* Article Home*/
    
    
    .yo {
        width:70%;
        object-fit: cover;
    }
    
    .home {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /*sobre mi*/
    
    section ol li{
        text-align:left;
        display:block;
    } 
    
    /*botones*/
    
    button {
        padding: 10px 40%;
        text-align:center;
        font-size:small;
        white-space: nowrap;
    }
    
    .botonderecha {
        text-align:center;
    }
    
    /*footer*/
    
    footer{
        @include grid-p (repeat(1, 1fr) , 20px);
    }
    
    footer .logo {
        margin: auto;
    }
    footer p {
        margin: 0px;
    }
    
    footer figure {
        text-align:center;
    }
    
    .fa-brands{
        font-size: 10pt;
        margin-left: 20px;
        padding: 15px;
        border-radius: 100%;
    }
    
    /* pagina portafolio*/
    
    .galeria-trabajos {
        @include grid-p (repeat(2, 1fr) , 10px);
    }
    
    /*pagina, contacto*/
    
    input{
        border-radius: 10px;
        border:none;
        padding: 10px;
        width: 100%;
    }
    
    /*pagina,sobre mi*/
    .barras{
        width: 80%;
    }
    
    .atributos {
        margin-left: 0%;
        text-align: center;
    }
    
    .section h2{
        text-align: center;
        margin: 20pt 0pt;
    }
    
    /*section home*/
    
    .home-contenedor {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    
    .home-contenedor-h1{
        padding-bottom: 10pt;
        grid-column: 1;
        grid-row: 1/2;
    }
    
    .home-contenedor-img{
        grid-column:1;
        grid-row: 2 /2;
    }
    
    .home-contenedor-milinea{
        grid-column:1;
        grid-row: 2 /2;
    }
    
    .home-contenedor-textos{
        padding-top: 10pt;
        margin-right: 0pt;
        grid-column:1;
        grid-row: 4 /4;
    }
    
    /*pagina mapa*/
    
    .mapa {
        height:300pt;
    }
    }