/* tablet portrait iPad Mini*/

@media (max-width: 992px) {

    p{
        font-size: 14px;
    }
    
    /*header*/
    
    header {
        padding: 0px 6%;
    }
    
    header nav ol li{
        padding:15px;
        padding-right: 1px;
    }
    
    header nav ol li a {
        font-size: 14px;
    }
    
    /*footer*/
    
    footer {
        padding: 2% 6%;
    }
    
    .fa-brands{
        font-size: 15pt;
        margin-left: 10px;
    }
    
    
    /* Article Home*/
    
    
    .home-contenedor-h1{
        padding-bottom: 20pt;
    }
    
    
    .home-contenedor-textos{
        padding-top: 50pt;
        margin-right: 20pt;
    }
    
    
    section{
        padding:50px 6%;
    }
    
    article{
        padding:50px 6%;
        padding-bottom:0px;
    }
    
    /*pagina,sobre mi*/
    
    .section {
        margin: 4%  6%;
    }
    
    }